button {
  cursor: pointer;
}

.div__header {
  align-items: center;
  background-color: #036b52;
  display: flex;
  height: 105px;
  justify-content: space-evenly;
  width: 100vw;
}

.nav__header {
  align-items: center;
  display: flex;
  height: 105px;
  justify-content: space-between;
  width: 100%;
}

.nav__header a {
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
}

.nav__header a:first-child {
  align-items: center;
  background-color: rgb(47, 193, 140);
  color: black;
  display: flex;
  height: 105px;
  justify-content: center;
  text-align: center;
  width: 20%;
}

.nav__header a:nth-child( 2 ) {
  padding: 5%;
  width: 45%;
}

.container__header {
  display: flex;
  justify-content: end;
  width: 80%;
}

.name__header {
  align-items: center;
  background-color: rgb(66, 25, 129);
  color: white;
  display: flex;
  font-weight: 700;
  height: 105px;
  justify-content: center;
  text-align: center;
  width: 30%;
}

.button__header {
  align-items: center;
  background-color: rgb(5, 108, 249);
  border: none;
  color: white;
  display: flex;
  font-size: medium;
  font-weight: 700;
  height: 105px;
  justify-content: center;
  text-align: center;
  width: 15%;
}
