.div__order__details {
  align-items: center;
  background-color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.div__order__details h3 {
  width: 80%;
}

.div__order__details table tbody {
  height: 100%;
  width: 100%;
}

.div__order__details table:nth-child( 3 ) {
  align-self: center;
  width: 80%;
}

.div__order__details table:nth-child( 3 ) td {
  background-color: rgb(234, 241, 239);
  height: 15px;
  padding: 10px;
  table-layout: fixed;
  text-align: center;
  text-orientation: upright;
  vertical-align: top;
}

.div__order__details table:nth-child( 4 ) td {
  background-color: rgb(234, 241, 239);
  height: 15px;
  padding: 10px;
  table-layout: fixed;
  text-align: center;
  text-orientation: upright;
  vertical-align: top;
}

.div__order__details table:nth-child( 4 ) {
  align-self: center;
  width: 80%;
}

.div__order__details table:nth-child( 5 ) td {
  background-color: rgb(234, 241, 239);
  height: 15px;
  padding: 10px;
  table-layout: fixed;
  text-align: center;
  text-orientation: upright;
  vertical-align: top;
}

.div__order__details table:nth-child( 4 ) td:first-child {
  background-color: rgb(47, 193, 140);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
}

.div__order__details p:nth-child( 6 ) {
  align-items: center;
  align-self: flex-end;
  background-color: rgb(3, 107, 82);
  border-radius: 5px;
  bottom: 0;
  color: aliceblue;
  display: flex;
  font-weight: 900;
  height: 60px;
  justify-content: center;
  margin: 20px;
  margin-top: 30px;
  width: 300px;
}

.div__order__details button:nth-child( 5 ) {
  align-items: center;
  background-color: rgb(3, 107, 82);
  border-radius: 5px;
  color: aliceblue;
  display: flex;
  font-weight: 900;
  height: 60px;
  justify-content: center;
  margin: 20px;
  margin-top: 30px;
  width: 300px;
}

.div__order__details button:nth-child( 5 ):disabled {
  background-color: rgb(148, 148, 148);
}
