.main__div__products {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.div__products {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
  width: 80vw;
}

.div__products button:nth-child( 12 ) {
  background-color: rgb(3, 107, 82);
  color: aliceblue;
  font-size: 20px;
  font-weight: 900;
  height: 50px;
  margin: 20px;
  width: 15%;
}
