.div__products {
  margin-top: 300px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  padding: 100px;
}

.div__products button:nth-child(12){
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  font-size: 20px;
  background-color: rgb(3,107,82);
  color: aliceblue;
  font-weight: 900;
  width: 15%;
  height: 50px;
}